<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fake Studio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="page-header" id="border">
            <div class="row">
                <div class="col-md-4">
                    <img src="http://cdn-img.easylogo.cn/gif/51/51700.gif" />
                </div>
                <div class="col-md-8">
                    <div class="pull-right">
                        @*NAVBAR*@
                        <nav class="navbar navbar-default">
                            @*<div class="container-fluid">*@
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li><a href=@Url.Action("Index","Home")>Home</a></li>
                                        <li><a href=@Url.Action("About","Home") id="about">About</a></li>
                                        <li><a href=@Url.Action("Work","Home") id="work">Work</a></li>
                                        <li><a href=@Url.Action("Careers","Home") id="careers">Careers</a></li>
                                        <li><a href=@Url.Action("Contact","Home") id="contact">Contact</a></li>

                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            @*</div>*@<!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*END OF HEADER*@
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-lg-4">
                    <p>&copy; Copyright @DateTime.Now.Year Fake Studio</p>
                </div>
                <div class="col-lg-8">
                    <div class="pull-right">
                        <ul class="list-inline">
                            <li><a href=@Url.Action("Index","Home")>Home</a></li> |
                            <li><a href=@Url.Action("About","Home") id="about">About</a></li> |
                            <li><a href=@Url.Action("Work","Home") id="work">Work</a></li> |
                            <li><a href=@Url.Action("Careers","Home") id="careers">Careers</a></li> |
                            <li><a href=@Url.Action("Contact","Home") id="contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Main.js"></script>
</body>
</html>
